@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #212121;
}

h1 {
  color : white;
  font-family: "IBM Plex Mono", monospace; 
  font-weight: 400;
  font-size: 7vh;
}

header {
  width: 60vh;
}

#container {
  display: flex;
  justify-content: center;
}

#subtitulo-container {
  width: 100%;
}

#titulo {
  user-select: none;
  color: #C60000;
}
#titulo-container {
  margin-top: 10vh;
  width: 100%;
  margin-bottom: -10%;
}

#subtitulo-container {
  display: flex;
}

#about {
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  background-color: transparent;
  border: none;
  user-select: none;
  font-size: 3vh;
  color: white;
  padding: 0.2vh 0.2vh 0.2vh 0.2vh;
}

#about-container {
  margin-right: 29vh;
}

#about:hover {
  background-color: #C60000;
}


#recap {
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  background-color: transparent;
  border: none;
  user-select: none;
  color: white;
  font-size: 3vh;
  padding: 0.2vh 0.2vh 0.2vh 0.2vh;
}

#recap:hover {
  background-color: #C60000;
}

#paragraph {
  user-select: none;
  font-size: 1.9vh;
  color: white;
  align-items: center;
  text-align: left;
  width: 57vh;
}

#about-text-width {
  width: 100%;
  display: inline;
}

#span-credits-name {
  color: #C60000;
}

#span-credits-github {
  color: #C60000;
}

#svg-github-logo {
  margin-top: 1.8vh;
  margin-left: 1vh;
  height: 3vh;
  width: 3vh;
  border-radius: 100%;
}

#p-credits {
  user-select: none;
  color: white;
  font-size: 2vh;
}

#about-credits-container {
  display: flex;
}
